#running {
  .lead {
    margin-bottom: 30px;
    font-size: 100%;
    font-weight: 400;
  }
  table {
    font-family: "Andale Mono", Monaco, Consolas, "Courier New", monospace;
  }
  .list-group {
    margin-bottom: 0;
  }
}
