$font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: Merriweather, Georgia, "Times New Roman", Times, serif;

@import "compass";
@import "bootstrap";
@import "mixins";
@import "instagram";


// Navbar
.navbar-fixed-top {
  -webkit-transform: scale3d(1 ,1 ,1); // fix: chrome redraw bug
}

// Logo

$logo-color: $brand-success;
$logo-size: 40px;

.navbar-header {
  position: relative;
}
#logo {
  position: absolute;
  top: 5px;
  left: 15px;
  a {
    width: $logo-size;
    height: $logo-size;
    padding: 0;
    background: $logo-color;
    border-radius: 2px;
    color: #fff;
    font: {
      weight: 700;
      style: italic;
      size: 20px;
    }
    line-height: $logo-size;
    text-align: center;
    &:hover {
      background: darken($logo-color, 5%);
    }
  }
}

// Intro

#start {
  text-align: center;
}
.jumbotron {
  margin-bottom: 0;
  background: #666 image-url('background_noise_dark.png');
  @media (min-width: $screen-sm-min) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  h1 {
    margin: 10px 0;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: 100;
  }
  p {
    letter-spacing: 1px;
  }
}

.fadeIn {
  @include animation(fadeIn, 1.5s, 0.25s);
}
.fadeInUp {
  @include animation(fadeInUp, 0.75s, 1s, ease);
}

// Content

section {
  margin-bottom: -10px;
  padding-top: 40px;
}

#start {
  padding-top: 50px;
}

#about {
  img {
    margin-bottom: 20px;
  }
}
#welcome {
  h3 {
    margin-bottom: 15px;
    font-weight: 300;
  }
  .lead p {
    margin-bottom: 15px;
  }
}
.highlights {
  line-height: 1.6;
  .text-highlight {
    $highlight-color: #ffff80;
    margin: 0 -3px;
    padding: 2px 3px;
    background: $highlight-color;
    background: rgba($highlight-color, 0.75);
  }
}

#skills {
  .col {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
    ul,
    li:last-child p {
      margin-bottom: 0;
    }
  }
}

#timeline {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      @include make-row();
      .panel-wrapper {
        @include make-sm-column(6);
      }
      &:nth-child(even) .panel-wrapper {
        @include make-sm-column-offset(6);
      }
      &:last-child {
        .panel {
          margin-bottom: 0;
        }
      }
    }
  }

  .panel-body {
    p:last-child {
      margin: 0;
    }
  }
  .fa-trophy {
    color: #ccc;
  }

  .panel {
    position: relative;
    @include transition(all 0.1s ease-in-out);
    &:hover {
      top: -2px;
      @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.05));
    }
  }
}

// Footer

#site_footer {
  margin: 70px 0 0 0;
  padding: 90px 0;
  background-color: $gray-lighter;
  background-image: linear-gradient(rgba(0,0,0,0.25), transparent 3%), image-url('background_noise_light.png');
  color: $gray-light;

  .section {
    text-align: center;
  }
  .section_02 {
    margin-top: 20px;
  }

  @media (min-width: $screen-md-min) {
    .section {
      width: 50%;
      p,
      nav,
      ul {
        margin: 0;
        display: inline-block;
      }
      #copyright {
        margin-right: 25px;
      }
    }
    .section_01 {
      float: left;
      text-align: left;
      line-height: 26px;
    }
    .section_02 {
      float: right;
      margin-top: 0;
      text-align: right;
    }
  }
}
