// $font-family-base: "Open Sans";
// $headings-font-family: "Merriweather";

@import "compass";
@import "bootstrap";


body {

}

// Navbar
.navbar-fixed-top {
  -webkit-transform: scale3d(1 ,1 ,1); // fix: chrome redraw bug
}

// Logo

$logo-color: green;
$logo-size: 40px;

.navbar-header {
  position: relative;
}
#logo {
  position: absolute;
  top: 5px;
  left: 15px;
  a {
    width: $logo-size;
    height: $logo-size;
    padding: 0;
    background: $logo-color;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    line-height: $logo-size;
    text-align: center;
    &:hover {
      background: darken($logo-color, 5%);
    }
  }
}

// Intro

.jumbotron {
  margin-bottom: 0;
  h1 {
    margin: 10px 0;
  }
}

// Content

section {
  padding-top: 30px;
}

#start {
  padding-top: 50px;
}

#about {
  img {
    margin-bottom: 20px;
  }
  strong {
    font-weight: 500;
  }
}
.text-highlight {
  margin: 0 -3px;
  padding: 2px 3px;
  background: lighten(yellow, 25%);
}

// Footer

#site_footer {
  margin: 70px 0 0 0;
  padding: 70px 0;
  background: $gray-lighter;
  color: $gray-light;
  p,
  nav,
  ul {
    margin: 0;
    display: inline-block;
  }
  #copyright {
    margin-right: 25px;
  }
}
