%section#about
  .row
    .col-md-12
      .page-header
        %h2
          About
          %small
            Who am I

  .row
    .col-sm-4.col-md-3
      = image_tag 'christian_fleschhut_profile.jpg', alt: '', class: 'img-responsive img-thumbnail center-block'
    .col-sm-8.col-md-9
      #welcome
        %h3
          Hi there! I’m Christian,
        .lead
          %p.highlights
            a <em class="text-highlight">frontend developer</em> specialized in <em class="text-highlight">Ruby on Rails, Haml, Sass, JavaScript</em> and <em class="text-highlight">Responsive Web&nbsp;Design</em>
            with 8+ years work experience in the field of web design & development.
          %p
            With a passion for both code and design I strive to build awesome web user interfaces.
          %p
            %small
              If not tying myself to the MacBook, I love to do #{link_to 'long distance running', '#running'}.
              I still consider myself being a skateboarder at heart.
