%section#about
  .row
    .col-md-12
      .page-header
        %h2
          About
          %small
            Who am I

  .row
    .col-sm-4.col-md-3
      = image_tag 'christian_fleschhut_profile_02.jpg', alt: '', class: 'img-responsive img-thumbnail center-block'
    .col-sm-8.col-md-9
      #welcome
        %h3
          Hi there! I’m Christian,
        %p.lead.highlights
          a <em class="text-highlight">frontend developer</em> specialized in <em class="text-highlight">Ruby on Rails, Haml, Sass, JavaScript</em> and <em class="text-highlight">Responsive Webdesign</em>.
        %p.lead
          %small
            If not tied to the MacBook, I love to do #{link_to 'long distance running', 'http://connect.garmin.com/profile/cfleschhut'}.
            I still consider myself being a skateboarder at heart.
  %hr

  .row#skills
    .col-sm-4.col
      %h4
        My current tools of trade include:
      %ul.fa-ul
        %li
          %p
            %i.fa.fa-li.fa-angle-right
            Ruby on Rails, HTML (Haml), CSS (Sass, Compass)
        %li
          %p
            %i.fa.fa-li.fa-angle-right
            Twitter Bootstrap, Bourbon & Neat, Zurb Foundation
        %li
          %p
            %i.fa.fa-li.fa-angle-right
            Sublime Text, Chrome Web Inspector, Git, Photoshop
        %li
          %p
            %i.fa.fa-li.fa-angle-right
            RSpec + Cabybara
    .col-sm-4.col
      %h4
        Trusted technologies I’ve used ever since:
        -# My guiding principles are:
      %ul.fa-ul
        %li
          %p
            %i.fa.fa-li.fa-angle-right
            Semantic HTML, well-structured CSS, Unobtrusive JavaScript
        %li
          %p
            %i.fa.fa-li.fa-angle-right
            jQuery, MooTools
        -# %li
        -#   %p
        -#     %i.fa.fa-li.fa-angle-right
        -#     jQuery Mobile, Sencha Touch, Zepto, PhoneGap
        -# %li
        -#   %p
        -#     %i.fa.fa-li.fa-angle-right
        -#     WordPress
    .col-sm-4.col
      %h4
        At night I dream about someday getting my head around:
      %ul.fa-ul
        %li
          %p
            %i.fa.fa-li.fa-angle-right
            Node.js
        %li
          %p
            %i.fa.fa-li.fa-angle-right
            Backbone, Ember, Angular
        -# %li
        -#   %p
        -#     %i.fa.fa-li.fa-angle-right
        -#     Canvas, Processing
