#navbar.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      #logo
        %a.navbar-brand{ href: "#start" }
          cF
      %button.navbar-toggle{ data: { target: '.navbar-collapse', toggle: 'collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{ href: "#start" }
            Start
        %li
          %a{ href: "#about" }
            About
        %li
          %a{ href: "#timeline" }
            Timeline
        %li
          %a{ href: "#contact" }
            Contact
