%section#running
  .row
    .col-md-12
      .page-header
        %h2
          Running
          %small
            I am addicted

  .row
    .col-sm-12
      %p.lead
        In 2010 I started running marathons. And I won’t ever stop…
      %h4
        Marathons
        %small
          (2010–now)
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th
              \#
            %th
              date
            %th
              location
            %th
              time
        %tbody
          %tr
            %td
              11.
            %td
              Oct 2015
            %td
              Frankfurt
            %td
              %time
                03:46:26
          %tr
            %td
              10.
            %td
              Sep 2014
            %td
              Berlin
            %td
              %time
                03:37:31
          %tr
            %td
              9.
            %td
              Sep 2013
            %td
              Berlin
            %td
              %time
                03:59:25
          %tr
            %td
              8.
            %td
              May 2013
            %td
              Copenhagen
            %td
              %time
                03:45:17
          %tr
            %td
              7.
            %td
              Sep 2012
            %td
              Berlin
            %td
              %time
                03:26:55
          %tr
            %td
              6.
            %td
              Apr 2012
            %td
              Hamburg
            %td
              %time
                03:43:50
          %tr
            %td
              5.
            %td
              Oct 2011
            %td
              Frankfurt
            %td
              %time
                03:31:18
          %tr
            %td
              4.
            %td
              Sep 2011
            %td
              Berlin
            %td
              %time
                03:39:31
          %tr
            %td
              3.
            %td
              Apr 2011
            %td
              Rotterdam
            %td
              %time
                03:44:58
          %tr
            %td
              2.
            %td
              Oct 2010
            %td
              Frankfurt
            %td
              %time
                03:57:56
          %tr
            %td
              1.
            %td
              Sep 2010
            %td
              Berlin
            %td
              %time
                03:57:36

      %aside
        %h5
          Running data tracking
        .list-group
          = link_to 'Garmin', 'http://connect.garmin.com/profile/cfleschhut',
            class: 'list-group-item'
          = link_to 'Strava', 'https://www.strava.com/athletes/525042',
            class: 'list-group-item'
          = link_to 'Nike+', 'http://nikeplus.nike.com/plus/profile/christianfleschhut/',
            class: 'list-group-item'
          = link_to 'Dailymile', 'http://www.dailymile.com/people/ChristianF',
            class: 'list-group-item'
