%section#skills
  .row
    .col-md-12
      .page-header
        %h2
          Skills
          %small
            Tools of trade

  .row
    .col-sm-4
      %figure
        %canvas{ id: 'html_css', width: 150, height: 150 }
        %figcaption
          HTML5 & CSS3
    .col-sm-4
      %figure
        %canvas{ id: 'sass', width: 150, height: 150 }
        %figcaption
          Sass
    .col-sm-4
      %figure
        %canvas{ id: 'backbone', width: 150, height: 150 }
        %figcaption
          Backbone.JS / jQuery
  .row
    .col-sm-4
      %figure
        %canvas{ id: 'react', width: 150, height: 150 }
        %figcaption
          React / Redux
    .col-sm-4
      %figure
        %canvas{ id: 'rails', width: 150, height: 150 }
        %figcaption
          Ruby on Rails
    .col-sm-4
      %figure
        %canvas{ id: 'photoshop', width: 150, height: 150 }
        %figcaption
          Sketch / Photoshop
